@charset "utf-8";
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR&family=Public+Sans:ital@1&display=swap');

/* Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 영어폰트 */
.en {font-family: "Public Sans", sans-serif;}
.en2 {font-family: "Cormorant Infant", system-ui;}

/* layout */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.wrap {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
    color: #FFF;
}

/* header */
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    padding: 30px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transform: translateY(0);  
    transition: transform 0.3s ease-in-out;  
}

header.active {
    transform: translateY(-100%); 
}


header .menuOpen {
    display: none;
    transition: 0.3s;
}

header .logo {
    color: #FFF;
}

.gnb ul {
    display: flex;
    justify-content: space-between;
}

.gnb ul li {
    margin-left: 70px;
}

.gnb ul li a {
    display: block;
}

/* gnb hover Effect */
.gnb ul li a .char {
    display: inline-block;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.gnb ul li a .char:before, .gnb ul li a .char:after {
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0.6;
    color: #FFF;
    content: attr(data-char);
    transition: transform 0.35s;
    transition-delay: calc(30ms * var(char-index));
}

.gnb ul li a .char:before {
    transform: translateY(100%);
}

.gnb ul li a:hover .char:before {
    transform: translateY(0%);
    opacity: 1;
}

.gnb ul li a:hover .char:after {
    transform: translateY(-100%);
}

/* visual */
.visual {
    width: 100%;
    height: 100vh;
    padding-top: 125px;
    box-sizing: border-box;
    position: relative;
    letter-spacing: -1px;
}

.visual .mainText {
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px 0px 150px 60px;
    display: inline-block;
}

.visual .mainText p {
    overflow: hidden;
}

.visual .subText {
    margin-left: 20%;
}

.visual .scroll {
    position: fixed;
    left: 60px;
    bottom: 40px;
}

.visual .svgAni {
    position: absolute;
    right: 10%;
    top: -29%;
    width: 50%;
}

/* animation */
.visual.motion .mainText {
    transform: translate3d(0,0,0) skewY(0deg);
    overflow: hidden;
}

.visual.motion .mainText p span {
    display: block;
    animation-name: textAni;
    animation-duration: 1.8s;
}

.visual.motion .mainText p:nth-child(2) span {
    animation-duration: 1.7s;
}

.visual.motion .mainText p:nth-child(3) span {
    animation-duration: 1.5s;
}

@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top left;}
}

@keyframes textani2 {
    0% {opacity: 0;}
    30% {opacity: 0;}
}

.visual.motion .subText {
    animation-name: textani2;
    animation-duration: 2.3s;
}